body {
  margin: 0;
  color: white;
  background-color: black;
  font-size: 16;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.sections img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 3px solid orange;
}

.mx-8 {
  margin: 0 15px;
}

.firstpic {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

h1 {
  font-size: 30;
  font-family: serif;
  margin: 0;
  color: orange;
}
h2 {
  font-family: serif;
  font-size: 20;
  margin: 0;
  color: orange;
}

h3 {
  font-family: serif;
  font-size: 20;
  margin: 0;
  color: orange;
  text-align: center;
  padding-bottom: 16px;
}

a {
  text-decoration: none;
  color: orange;
  text-align: center;
}

.footer {
  text-align: center;
  margin-top: 64px;
  border-top: 5px solid orange;
  background-color: black;
  font-size: 10;
}

.primary-nav {
  position: relative;
  display: flex;
  height: 64px;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  background: black;
  border-bottom: 3px solid orange;
}

.primary-nav .logo {
  padding-left: 10px;
  height: 48px;
  width: auto;
}

.primary-nav .toggle {
  margin: 10px;
  color: orange;
  background-color: gray;
  border: orange;
  border-radius: 10px;
}

.primary-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.primary-nav a {
  text-decoration: none;
  color: orange;
}

/* Mobile Rules*/
@media (max-width: 767px) {
  .primary-nav ul {
    transition: transform 300ms;
    top: 64px;
    width: 100%;
    position: absolute;
    background-color: gray;
    transform: translateX(-100vw);
  }
  .primary-nav ul.active {
    transform: translateX(0);
  }
  .primary-nav a {
    color: orange;
  }
  .primary-nav ul li {
    margin: 10px;
  }

  .sections {
    flex-direction: column;
  }

  .hv-center {
    display: flex;
    justify-content: center;
  }

  .firstpic {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: auto;
  }
  h1 {
    font-size: 30;
    font-family: serif;
    margin: 0;
    color: orange;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  h2 {
    font-family: serif;
    font-size: 20;
    margin: 0;
    color: orange;
    padding-left: 30px;
    padding-right: 30px;
  }
  p {
    padding-left: 30px;
    padding-right: 30px;
  }
}

/*Desktop Rules*/
@media (min-width: 768px) {
  .toggle {
    display: none;
  }
  .primary-nav ul {
    display: flex;
    margin: 10px;
    padding-right: 20px;
  }
  .primary-nav ul li {
    padding-left: 10px;
  }

  .header {
    display: flex;
    min-height: calc(100vh - 67px);
    margin-bottom: 100px;
  }

  .header > * {
    flex: 1 0;
  }

  .hv-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sections {
    padding-bottom: 36px;
  }
  .max-width-400 {
    max-width: 400px;
  }

  .sections {
    display: flex;
  }

  .sections > div:first-child {
    margin-left: 0;
  }

  .sections > div:last-child {
    margin-right: 0;
  }

  .sections > div {
    flex: 1 0;
    margin: 0 10px;
  }

  .firstpic {
    width: 50vw;
  }
}

.mw-med {
  max-width: 720px;
  margin: 0 auto;
  border: 3px solid orange;
}

.aspect-ratio {
  position: relative;
  background: black;
  width: 100%;
  padding-top: 56.25%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.zhou img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 3px solid orange;
}
.zhou p {
  max-width: 100%;
  font-size: 10px;
  color: orange;
}

.zhou {
  margin: 10px;
}

.gridarticle {
  margin: 48px;
  background-color: grey;
  border: 3px solid orange;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.gridtitle {
  margin: 48px;
  padding-top: 36px;
}

.coalarticle {
  margin: 48px;
}

/** Here is the link where I got the core code for these accordion sections https://www.w3schools.com/howto/howto_js_accordion.asp. 
I did also makes some aesthic changes to the code. Here in the CSS section there are several sections, the first is for the accordian 
section aka where the question goes, the next is the hover state of the accordian, and then the pannel which is the drop down inside 
of the accordian aka the answer to the question, the last two sections are adding the plus and minus signs conntent. On this css page 
the main things that this page is doing is adding the different kinds of styles and placements of the content.
 **/

.accordion {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: 1px solid orange;
  outline: none;
  transition: 0.4s;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: gray;
  display: none;
  overflow: hidden;
}

.accordion:after {
  content: "\02795";
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
  color: black;
}
